@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/*
██████╗░░█████╗░░██████╗░███████╗
██╔══██╗██╔══██╗██╔════╝░██╔════╝
██████╔╝███████║██║░░██╗░█████╗░░
██╔═══╝░██╔══██║██║░░╚██╗██╔══╝░░
██║░░░░░██║░░██║╚██████╔╝███████╗
╚═╝░░░░░╚═╝░░╚═╝░╚═════╝░╚══════╝
*/

* {
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

body {
  min-height: 100%;
  background: #012e40;
  font-family: "Roboto", sans-serif;
}

body > a > p {
  border-radius: 15px;
  color: #003a32;
  margin: 0.8em;
  margin-bottom: 1.2em;
  padding: 0.7em;
  font-weight: 700;
  font-size: 1.2em;
  text-align: center;
  background-color: #049DBF;
}

body > a > p:hover {
  box-shadow: 0px 0px 10px 5px #049dbf;
}

a {
  text-decoration: none;
  color: inherit;
}

/* 
██╗░░██╗███████╗░█████╗░██████╗░███████╗██████╗░
██║░░██║██╔════╝██╔══██╗██╔══██╗██╔════╝██╔══██╗
███████║█████╗░░███████║██║░░██║█████╗░░██████╔╝
██╔══██║██╔══╝░░██╔══██║██║░░██║██╔══╝░░██╔══██╗
██║░░██║███████╗██║░░██║██████╔╝███████╗██║░░██║
╚═╝░░╚═╝╚══════╝╚═╝░░╚═╝╚═════╝░╚══════╝╚═╝░░╚═╝
*/

header {
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #3BC9D9;
  z-index: 999;
}

header img {
  float: left;
  width: 60px
}

header h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 1em;
  display: inline-block;
  color: black
}

/*  

░██████╗███████╗░█████╗░████████╗██╗░█████╗░███╗░░██╗
██╔════╝██╔════╝██╔══██╗╚══██╔══╝██║██╔══██╗████╗░██║
╚█████╗░█████╗░░██║░░╚═╝░░░██║░░░██║██║░░██║██╔██╗██║
░╚═══██╗██╔══╝░░██║░░██╗░░░██║░░░██║██║░░██║██║╚████║
██████╔╝███████╗╚█████╔╝░░░██║░░░██║╚█████╔╝██║░╚███║
╚═════╝░╚══════╝░╚════╝░░░░╚═╝░░░╚═╝░╚════╝░╚═╝░░╚══╝
*/

section {
  padding: 1em;
  margin: 1em;
  background-color: #025e73;
  border-radius: 15px;
  color: #BBEDF2;
}

section h1 {
  font-weight: 300;
  font-size: 2.5em;
  text-align: left;
}

section > p {
  margin-top: 0.5em;
  font-size: 1.25em;
}

section div {
  margin-top: 0.5em;
  font-size: 1.25em;
}

section div > p {
  font-size: 1em; 
  border-left: 2px solid rgb(59, 59, 59); 
  padding-left: 10px;
  margin-bottom: 0.5em;
}


section p a {
  text-decoration: underline;
}